// Import page-specific CSS files here.
.container-full {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container-tours {
	padding: 2rem;
}

.container-tours-header {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.card-tour-container {
	width: 100%;
	height: 22rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	img {
		height: 67%;
		width: 100%;
		flex-grow: 5;
		border-radius: 1rem;
	}
}

.card-tour-link {
	text-decoration: none;
	color: black;

	:hover {
		color: black;
	}
}

.card-tour-content {
	height: 33%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 4px;

	.header h4 {
		margin-top: 0.5rem;
		font-size: 18px;
		line-height: 1.2rem;
	}

	.details {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: baseline;

		p {
			margin: 0;
		}
	}
}

.map {
	width: 100%;
	height: 100vh;
	background-color: aqua;
	overflow: hidden;
}

@media only screen and (min-width: 760px) {
	.container-full {
		flex-direction: row;
	}
	.container-tours {
		width: 60%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.map {
		width: 40%;
		height: calc(100vh - 66px);
		position: sticky;
		top: $value5;
	}
}
