.tour-show-card {
  width: 1100px;
  }

.tour-show-info {
  // margin-left: 2rem;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  padding: 2rem;
}

.images-container {
  width: 100%;
  padding: 20px;
  border: 1px solid lightgray;
}

.left-side-image {
  width: 33%;
  height: 400px;
  padding-bottom: 5px;
  overflow: hidden;

  > div {
    background-position: center;
    margin: 5px;
  }
}

.middle-images {
  width: 33%;
  height: 400px;
  flex-direction: column;
  padding: 0 20px;
}
.top-image{
  width: 100%;
  height: 60%;
  border: 1px solid aqua;
  padding-bottom: 10px;
}

.bottom-image{
  width: 100%;
  height: 40%;
  border: 1px solid aqua;
  padding-top: 10px;

}

.right-side-image {
  width: 33%;
  height: 400px;
  background-color: orchid;

}
.tour-booking-flex {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;

  p.price{
    flex-grow: 1;
  }
}

.book-tour-btn{
  width: fit-content;

}

.tour-price {
  font-size: 24px;
  font-weight: bold;
}

.tour-guide-info {
  padding-bottom: 20px;
}

.tour-guide-info hr {
  width: 90%;
  border: none;
  height: 1px;
  background: gray;
}
