.prof-container-main {
	width: 100%;
	padding: 1rem;
}

.prof-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	justify-content: center;
	flex-direction: column;
}

.prof-avatar-section {
	display: none;
}

.prof-main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.prof-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.prof-list-content {
	display: flex;
	flex-direction: column;

	p {
		margin: 0px;
	}
}

// Tabs containers

.profile-tabs {
	background-color: bisque;
}

.profile-tabs-container {
	width: 100%;
	display: flex;
	gap: 1rem;

	.tab {
		border-radius: 0.5rem;
		background-color: rgb(255, 255, 255);
		padding: 0.5rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
		cursor: pointer;

		> * {
			margin-top: 0rem;
		}

		&:hover {
			background-color: $light-grey;
		}
	}

	> .active {
		background-color: $primary;
		color: white;

		&:hover {
			background-color: $primary;
		}
	}
}

.profile-tabs-content {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 960px) {
	.prof-container-main {
		width: 900px;
		margin: 0 auto;
	}

	.prof-container {
		gap: 2rem;
		padding: 2rem;
		flex-direction: row;
	}
	.prof-avatar-section {
		width: 10rem;
		height: 11rem;
		border: 1px solid $light-grey-2;
		border-radius: 1rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 1rem;

		.avatar-user {
			border-radius: 50%;
			width: 6rem;
			height: 6rem;
			margin: 0 auto;
		}
	}
}


/** User tours **/
.user-tours-container,
.tour-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 20px;
	width: 100%;
}

.user-tours-container {
	margin-top: 20px;
}

.tour-card-header {
	height: 260px;
	width: 100%;
	border-radius: 20px;
}

.user-tour-card {
	flex-basis: 210px;
	a {
		line-height: normal;
	}

	.two-coloumn {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.user-tour-card .tour-options {
	display: flex;
	flex-direction: row;
	gap: 10px;

	> div {
		> a {
			text-decoration: none;
			font-size: 14px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	> div:last-child {
		text-align: right;
	}
}

/*** TOUR ***/

.tour-picture-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 10px;
	margin-top: 10px;

	.picture-item {
		flex-basis: 80px;
		aspect-ratio: 1;
	}
}
