.user-profile-container {
	color: #484848;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	gap: 40px;

	a {
		color: #484848;
	}

	h2 {
		margin: 0;
	}
}

.tour-card-header {
	height: 260px;
	width: 100%;
	border-radius: 20px;
}

.profile-left-panel {
	flex-basis: 200px;
	border: 1px solid lightgray;
	border-radius: 20px;
	padding-top: 20px;

	> hr {
		margin: 0 10px 10px;
	}

	> div {
		text-align: center;
		padding: 5px 0;
	}
}

.avatar-user {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 10px;
	box-sizing: content-box;
}

.button-wrapper {
	text-align: center;
}

.small-link {
	font-size: 12px;
}

.profile-content {
	flex-grow: 2;
}

.user-tours-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 20px;
	margin-top: 20px;
}

.user-tour-card {
	flex-basis: 210px;
}

.user-tour-card .tour-options {
	display: flex;
	flex-direction: row;
	gap: 10px;

	> div {
		> a {
			text-decoration: none;
			font-size: 14px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	> div:last-child {
		text-align: right;
	}
}

/*** TOUR ***/

.tour-picture-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 10px;
	margin-top: 10px;

	.picture-item {
		flex-basis: 80px;
		aspect-ratio: 1;
	}
}

#picture-fields-container input {
	margin: 10px 0;
}

.profile-tabs-content {
	// background-color: bisque;
	padding: 2rem 0rem;
}

.profile-tabs-container {
	width: 100%;
	display: flex;
	gap: 1rem;

	.tab {
		border-radius: 0.5rem;
		background-color: rgb(255, 255, 255);
		padding: 0.5rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;

		> * {
			margin-top: 0rem;
		}

		&:hover {
			background-color: $primary-hover;
			color: white;
		}
	}

	> .active {
		background-color: $primary;
		color: white;

		&:hover {
			background-color: $primary;
		}
	}
}
