.prof-container-main {
	width: 100%;
	padding: 1rem;
}

.prof-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	justify-content: center;
	flex-direction: column;
}

.prof-avatar-section {
	display: none;
}

.prof-main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.prof-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.prof-list-content {
	display: flex;
	flex-direction: column;

	p {
		margin: 0px;
	}
}

// Tabs containers

.profile-tabs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.profile-tabs-container {
	width: 100%;
	display: flex;
	gap: 1rem;

	.tab {
		border-radius: 0.5rem;
		background-color: rgb(255, 255, 255);
		padding: 0.5rem 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
		cursor: pointer;

		> * {
			margin-top: 0rem;
		}

		&:hover {
			background-color: $light-grey;
		}
	}

	> .active {
		background-color: $primary;
		color: white;

		&:hover {
			background-color: $primary;
		}
	}
}

.profile-tabs-content {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

.break {
	height: 1px;
	color: $light-grey-2;
}

.prof-list-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 13rem;
	padding: 1rem 0rem;
	gap: 2rem;
}

.prof-list-card {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	gap: 1rem;
	.prof-list-container {
		display: flex;
		flex-direction: column;
	}

	img {
		width: 8rem;
		height: 13rem;
		object-fit: cover;
		border-radius: 1rem;
	}
}

@media only screen and (min-width: 960px) {
	.prof-container-main {
		width: 900px;
		margin: 0 auto;
	}

	.prof-container {
		gap: 2rem;
		padding: 2rem;
		flex-direction: row;
	}
	.prof-avatar-section {
		border: 1px solid $light-grey-2;
		border-radius: 1rem;
		padding: 1rem;
		width: 10rem;
		display: flex;
		height: 14rem;
		flex-direction: column;
		justify-content: start;
		gap: 1.5rem;

		.avatar-user {
			border-radius: 50%;
			width: 6rem;
			height: 6rem;
			margin: 0 auto;
		}
	}
}

.user-profile-container {
	color: #484848;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	gap: 40px;

	a {
		color: #484848;
	}

	h2 {
		margin: 0;
	}
}

.tour-card-header {
	height: 260px;
	width: 100%;
	border-radius: 20px;
}

.profile-left-panel {
	flex-basis: 200px;
	border: 1px solid lightgray;
	border-radius: 20px;
	padding-top: 20px;

	> hr {
		margin: 0 10px 10px;
	}

	> div {
		text-align: center;
		padding: 5px 0;
	}
}

.avatar-user {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 10px;
	box-sizing: content-box;
}

.button-wrapper {
	text-align: center;
}

.small-link {
	font-size: 12px;
}

.profile-content {
	flex-grow: 2;
}

.user-tours-container,
.tour-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 20px;
	width: 100%;
}

.user-tours-container {
	margin-top: 20px;
}

.user-tour-card {
	flex-basis: 210px;
	a {
		line-height: normal;
	}

	.two-coloumn {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.user-tour-card .tour-options {
	display: flex;
	flex-direction: row;
	gap: 10px;

	> div {
		> a {
			text-decoration: none;
			font-size: 14px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	> div:last-child {
		text-align: right;
	}
}

/*** TOUR ***/

.tour-picture-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap: 10px;
	margin-top: 10px;

	.picture-item {
		flex-basis: 80px;
		aspect-ratio: 1;
	}
}

#picture-fields-container input {
	margin: 10px 0;
}
