<div class="banner-container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  <div class="container">
    <h1>Guidy brings <strong>amazing journey</strong> to <strong>you</strong>!</h1>
    <p>Experience new things and travel around the world.</p>

    <div class="row g-3 text-center w-100 justify-content-around">

          <%= form_tag tours_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a location"
            %>

          <%= submit_tag "Search", class: "btn btn-primary" %>

        <% end %>
        </div>

        </div>
    </div>
  </div>
</div>
</div>
