<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1734&q=80)">
  <div class="container m-3">
    <h1>TourFind brings <strong>amazing journy</strong> to <strong>you</strong>!</h1>
    <p>Experience new things and travel around the world.</p>
    <%= link_to "see more", tours_path, class: "btn btn-primary" %>
  </div>
</div>
