// Sizes
$value1: 1rem;
$value2: 2rem;
$value3: 3rem;
$value4: 4rem;
$value5: 5rem;
$value6: 6rem;

// Colors
$primary: #e5a535;
$black: #272727;
$dark-grey: #4f4f4f;
$light-grey: #f5f5f5;
$secondary-1: #a58e41;
$secondary-2: #e0786c;
$secondary-3: #a2773d;
$secondary-4: #95a8b5;

* {
	box-sizing: border-box;
}

body {
	background-color: white;
}
