// Import your components CSS files here.
@import "base";
@import "fonts";
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cardtrip";

.container-full {
	width: 100%;
	padding: 2rem;
	background-color: beige;
	display: flex;
}

.container-tours {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.map {
	width: 100%;
	height: 100vh;
	background-color: aqua;
}
